<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../js/vue.js"></script>
</head>
<body>
<!--
v-for指令：
    1.用于展示列表数据
    2.语法：v-for="(item,index) in xxx" :key="yyy"
    3.可遍历：数组、对象、字符串（用的很少）、指定次数（用的很少）
-->
<div id="root">
    <!--    遍历数组-->
    <h2>人员列表：</h2>
    <!--    <ul>-->
    <!--        <li :key="person.id" v-for="person in persons">-->
    <!--            {{person.name}}-{{person.age}}-->
    <!--        </li>-->
    <!--    </ul>-->
    <ul>
        <li v-for="person in persons" :key="id">
            {{ person.name }}--{{ person.age }}
        </li>
    </ul>

    <!--遍历对象-->
    <h2>BYD列表：</h2>
    <ul>
        <li v-for="(value,k) of car" :key="k">
            {{ k }}--{{ value }}
        </li>
    </ul>
    <!--遍历字符串 用的少-->
    <h2>遍历字符串：</h2>
    <ul>
        <li v-for="(k,value) of str" :key="k">
            {{ k }}--{{ value }}
        </li>
    </ul>
    <!--遍历指定次数 用的少-->
    <h2>遍历指定次数：</h2>
    <ul>
        <li v-for="(index,number) of 5" :key="k">
            {{ index }}--{{ number }}
        </li>
    </ul>

</div>
</body>
<script>
    new Vue({
        el: '#root',
        data: {
            persons: [
                {id: '001', name: 'jagger', age: '21'},
                {id: '001', name: 'xiaohong', age: '21'},
                {id: '001', name: 'xiaocai', age: '20'}
            ],
            car: {
                name: 'BYD',
                price: '10,0000',
                color: '白色'
            },
            str: 'hello',
        }
    })
</script>
</html>